
   .project-section {
    position: relative !important;
    padding-top: 70px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
  }
  
  .project-card {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  
  .project-card-view {
    border:none!important;
    color: black !important;
    background:rgba(147, 130, 109, 0.307) !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
    height: 430px !important;
  }
  .project-card-view:hover {
    transform: scale(1.1) !important;
    overflow: hidden !important;
    box-shadow: 0 8px 10px 2px #050505 !important;
  }

  .btn-primary {
    font-weight:bold !important;
    border: none !important;
    margin-right: 20px !important;
    color:rgb(104, 104, 159) !important;
    background: rgba(117, 218, 205, 0.282) !important;
  }
  .btn-primary:hover {
    color: rgb(229, 187, 187) !important;
    font-weight: bold !important;
    box-shadow: 0 3px 3px 2px #0c0b0b !important;
    background-color: #3d4443d7 !important;
    border-color: #eaf0eed7 !important;
  }
  .btn:focus {
    outline: none !important;
  }
  .project-heading {
    color: rgb(255, 255, 255) !important;
    font-size: 2.3em !important;
    font-weight: 500 !important;
    padding-top: 10px !important;
  }
  