.navbar{
    text-decoration: none;
    color: brown;
}
.header{
    background:  linear-gradient(to bottom right, rgba(66, 204, 223, 0.877), rgb(80, 251, 200)) !important;
}
.navbar2{
    text-decoration: none;
    color: rgb(201, 185, 115);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    margin-right: 120px;
    margin-left: 20px;
    text-shadow: 2px 2px 3px black;
}
